@model CategoryViewModel

@{
    ViewData["Title"] = "CreateCategory";
}

<h1>Add A New Category</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CreateCategory", "Category", FormMethod.Post))
        {
            <form asp-action="CreateCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryDescription" class="control-label"></label>
                    <textarea asp-for="CategoryDescription" class="form-control"></textarea>
                    <span asp-validation-for="CategoryDescription" class="text-body"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Category" class="btn btn-primary" /> |
                    <a asp-action="IndexCategory">Back to List</a>
                </div>


            </form>
        }

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
