@model CapstoneGroupProject.ViewModels.Order.OrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
}

<div class="mainWrapper">
    <div class="tableList">
        <div class="header mb-5">
            <h1>CreateOrderView</h1>
        </div>
        
        <form asp-action="CreateOrderView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input asp-for="OrderDate" class="form-control" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="OrderTotal" class="control-label"></label>
                    <input asp-for="OrderTotal" class="form-control" />
                    <span asp-validation-for="OrderTotal" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="form-group offset-5">
                    <input type="submit" value="Create" class="btn btn-primary" /> |
                    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </form>
     </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
