/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Styling for our home page image
-------------------------------------------------- */
.HomePage {
    text-align: center;
    margin-left: 10%;
    margin-bottom: 5%;
}

.tableList {
    text-align: center;
    margin-left: 15%;
    margin-bottom: 5%;
    background-color: white;
    
}

.salesScreen{
    display: grid;
    grid-template-columns: 50vw 47vw;
    grid-column-gap: 2em;
}

.listOfProducts {
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 1%;
}

.products {
    background-color: white;
    padding: 1% 0% 1% 1%;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}

.products a {
    text-decoration: none;
    color: black;
}

hr{
    margin: 0.5%;
}

.itemCard{
    border: 1px solid black;
    width: 25%;
    height: 25%;
}

.itemCard:hover{
    background-color: aquamarine;
}

.itemCardTitle{
    padding: 2%;
}

.productsContainer {
    padding: 2%;
}

#card{
    display: none;
}

#cash{
    display: none;
}

/* Add Box */

.addBox{
    width: 40%;
    margin: 3% auto 0% auto;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

.addForm{
    padding: 5%;
}

.grandTotalBox{
    text-align: right !important;
    font-size: 1.3rem;
    border: 1px solid lightgray;
    padding: 1%;
    width: 50%;
    float: right;
    margin-top: 0;
}